@import "variables";
@media screen and (max-width: 480px) {
  body, input, select, textarea {
    font-size: 12pt;
  }

  html, body {
    min-width: 320px;
  }
}

@media screen and (max-width: 736px) {
  #sidebar {
    width: 17em;
    -moz-transform: translateX(-17em);
    -webkit-transform: translateX(-17em);
    -ms-transform: translateX(-17em);
    transform: translateX(-17em);
    right: 0;

    > header {
      padding: 2em;

      .avatar {
        margin: 0 auto 1.6875em auto;
        width: 6em;
      }

      h1 {
        font-size: 1.5em;
      }

      p {
        margin: 1em 0 0 0;
      }
    }

    > footer {
      padding: 1.5em;
    }
  }
  body.header-visible {
    #Container, #titleBar {
      -moz-transform: translateX(17em);
      -webkit-transform: translateX(17em);
      -ms-transform: translateX(17em);
      transform: translateX(17em);
    }
  }
  #titleBar {

    .toggle {
      height: 100%;
      width: 100%;

      &:before {
        font-size: 14px;
        width: 50px;
      }
    }
  }

  .header h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 1024px) {

  body.header-visible {
    overflow: hidden;
    #sidebar{
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    #Container, #titleBar {
      -moz-transform: translateX(20em);
      -webkit-transform: translateX(20em);
      -ms-transform: translateX(20em);
      transform: translateX(20em);
    }
  }

  #sidebar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 18em;
    z-index: 1;
    -moz-transform: translateX(-23em);
    -webkit-transform: translateX(-23em);
    -ms-transform: translateX(-23em);
    transform: translateX(-23em);
    right: 0;

    > footer {
      margin: 1em 0 0 0;
    }
  }

  #titleBar {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background:#34495e;
    color: #fff;
    min-width: 320px;

    .toggle {
      text-decoration: none;
      position: absolute;
      top: 0;
      width: 26px;
      border: 0;
      outline: 0;
      left: 28px;

      &:before {
        background: @background;
        color: #ffffff;
        content: "\e905";
        display: block;
        font-size: 18px;
        height: 44px;
        line-height: 44px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 55px;
        right: 0;
      }

      &:before {
        font-family: 'icomoon' !important;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  #Container {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 20px 0 1px 0!important;
  }

  .main-content {
    padding: 50px 20px;
  }

  .article {
    padding: 18px 0!important;

    .title {
      font-size: 18px!important;
    }
  }

  .header h1 {
    font-size: 1.3em;
  }

  .content {
    ul,ol {
      -webkit-padding-start: 20px;
      padding-left: 20px;
    }
  }

  #search, #switch {
    display: none;
  }

  .article-page {
    margin: 20px 0;

    .vertical.divider {
      color: transparent;
      &:before, &:after {
        height: 100%;
      }
    }
    a {
      font-size: 13px;
    }
  }

}

@media screen and (max-width: 1280px) {
  #sidebar {
    width: 20em;
  }

  #Container {
    padding-left: 21em;
  }

}

@media screen and (max-width: 1680px) {
  #sidebar {

    > header {
      padding: 2em;
    }

    > footer {
      padding: 1.5em;
    }
  }

  #Container {
    padding-left: 23em;
  }

}