.content {
  width: 75%;
  margin-left: 25%;
}
.main-post-list {
  margin: 0 10%;
  padding: 50px 0;
}
.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.blog-title {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 1.5em;
  line-height: 1.3em;
}
.blog-title-link {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
  &:hover {
    opacity: 0.61;
  }
}
.excerpt{
  margin: 0;
  font-size: .9em;
  color: #696969;
}
.post-meta-wrapper {
  display: block;
  margin: .7em 0 0 0;
  font-size: .9em;
}
.post-meta {
  display: inline-block;
  margin-right: 8px;
  color: #c7c7c7;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: uppercase;
  &.when-link {
    text-decoration: none;
  }
}
.post-divider {
  width: 100%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid #DDDDDD;
}
.post-summary {
  display: block;
  margin-bottom: 14px;
  line-height: 144%;
}

.pager {
  list-style: none;
  text-align: center;
  margin: 20px;
  padding: 0;
  .disabled { display: none }
  li {
    display: inline-block;
    margin-right: 5px;
  }
}
.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ddd;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 0 1px #333;
  }
}
.button-round {
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: border 200ms ease, color 200ms ease;
  transition: border 200ms ease, color 200ms ease;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  &:hover {
    border-color: #333;
    color: #333;
  }
}
.button-wrapper {
  margin-top: 50px;
  color: green;
  text-align: center;
}

.section-header {
  margin-top: 0;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}
.clearfix {
  @include clearfix;
}
@import "post";