@include max-screen(991px) {
  .w-container {
    max-width: 728px;
    height: 48px;
  }
  .w-nav[data-collapse="medium"] .w-nav-button {
    display: block;
  }
  .w-nav[data-collapse="medium"] .w-nav-menu {
    transform: translateY(-300px) translateX(0px);
    transition: transform 400ms;
  }
}
@include max-screen(767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
}
@include max-screen(479px) {
  .w-container {
    max-width: none;
    height: 48px;
  }
  .w-hidden-medium {
    display: inherit !important;
  }
  .w-hidden-small {
    display: inherit !important;
  }
  .w-hidden-tiny {
    display: none !important;
  }
}

@include screen(991px) {
  .sidebar-column {
    position: static;
    width: 100%;
    padding: 20px;
  }
  .navigation-bar {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
  .logo-link {
    float: left;
  }
  .logo-text {
    margin-top: 8px;
    margin-bottom: 0;
  }
  .menu-button {
    padding: 5px 15px 10px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, .1);
    color: #fff;
    &.w--open {
      background-color: #f0f0f0;
      color: #333;
    }
  }
  .navigation-menu {
    padding: 20px;
    border-radius: 5px;
    background-color: #333;
  }
  .main-subheading {
    margin-top: 0;
  }
  .w-hidden-tiny {
    display: none !important;
  }
  .content {
    width: 100%;
    margin-left: 0;
    padding: 30px 20px;
  }
  .button-wrapper {
    margin-top: 30px;
  }
  .nav-link {
    text-align: center;
  }
  .divider {
    display: block;
    width: 30%;
    margin: 14px auto;
  }
  .social-link-group {
    margin-top: 5px;
    text-align: center;
  }
}

@include screen(767px) {
  .sidebar-column {
    padding: 10px;
  }
  .logo-link {
    padding-left: 0;
  }
  .logo-text {
    margin-top: 5px;
  }
  .navigation-menu {
    margin-top: 20px;
  }
  .main-subheading {
    width: auto;
  }
  .content {
    padding: 20px 10px;
  }
  .post-title-section {
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .button-wrapper {
    margin-top: 20px;
    text-align: center;
  }
  .nav-link {
    display: block;
  }
}

@include screen(479px) {
  .main-subheading {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 150%;
  }
  .nav-link {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

