@font-face {
  font-family: icomoon;
  src: url(fonts/icomoon.eot?j7qxws);
  src: url(fonts/icomoon.eot?j7qxws#iefix) format('embedded-opentype'),url(fonts/icomoon.ttf?j7qxws) format('truetype'),url(fonts/icomoon.woff?j7qxws) format('woff'),url(fonts/icomoon.svg?j7qxws#icomoon) format('svg');
  font-weight: 400;
  font-style: normal
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #666;
}
body {
  font-family: "Lato Regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
body:before, body:after {
  content: "";
  display: table;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  padding: 30px 0;
}
a {
  color: #24a7ff;
  text-decoration: none;
}
a {
  background-color: transparent;
}
a {
  &:active, &:hover {
    outline: 0;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.8;
}
h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 1em; }

p {
  margin-bottom: 1.3em;
  line-height: 1.7em;
}
h1, h2, h3, h4, h5, h5 {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: lighter;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}
hr {
  border: none;
}
[class*=" icon-"], [class^=icon-] {
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-github:before {
  content: "\eab0";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-mail:before {
  content: "\ea86";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-google-plus:before {
  content: "\ea8d";
}
.icon-rss:before {
  content: "\ea9c";
}