@media screen and (max-width: 480px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
  html,
  body {
    min-width: 320px;
  }
}
@media screen and (max-width: 736px) {
  #sidebar {
    width: 17em;
    -webkit-transform: translateX(-17em);
    transform: translateX(-17em);
    right: 0;
  }
  #sidebar > header {
    padding: 2em;
  }
  #sidebar > header .avatar {
    margin: 0 auto 1.6875em auto;
    width: 6em;
  }
  #sidebar > header h1 {
    font-size: 1.5em;
  }
  #sidebar > header p {
    margin: 1em 0 0 0;
  }
  #sidebar > footer {
    padding: 1.5em;
  }
  #titleBar .toggle {
    height: 4em;
    width: 6em;
  }
  #titleBar .toggle:before {
    font-size: 14px;
    width: 44px;
  }
  .header h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
  body.header-visible #sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  #sidebar {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 23em!important;
    z-index: 1;
    -webkit-transform: translateX(-23em);
    transform: translateX(-23em);
    right: 0;
  }
  #sidebar > footer {
    bottom: auto;
    left: auto;
    margin: 1em 0 0 0;
    position: relative;
    right: auto;
    top: auto;
  }
  #titleBar {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    color: #fff;
    min-width: 320px;
  }
  #titleBar .toggle {
    text-decoration: none;
    height: 4em;
    position: absolute;
    top: 0;
    width: 6em;
    border: 0;
    outline: 0;
    right: 0;
  }
  #titleBar .toggle:before {
    background: #4acaa8;
    color: #ffffff;
    content: "\e905";
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 64px;
    right: 0;
  }
  #titleBar .toggle:before {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  #Container {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 20px 0 1px 0!important;
  }
  .article {
    padding: 18px 0!important;
  }
  .article .title {
    font-size: 18px!important;
  }
  .switch {
    display: none;
  }
  .header h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 1280px) {
  #sidebar {
    width: 21em;
  }
  #Container {
    padding-left: 21em;
  }
}
@media screen and (max-width: 1680px) {
  #sidebar {
    width: 22em;
  }
  #sidebar > header {
    padding: 2em;
  }
  #sidebar > footer {
    padding: 1.5em;
  }
  #Container {
    padding-left: 22em;
  }
}

/*# sourceMappingURL=media.css.map */
