.btn-mobile-menu {
  display: none;
  width: 100%;
  height: 35px;
  background: rgba(51, 51, 51, 0.98);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
.panel-cover {
  display: block;
  position: fixed;
  z-index: 900;
  width: 100%;
  max-width: none;
  height: 100%;
  background: url(/images/seanai_bg.png) top left no-repeat #666666;
  background-size: cover;
}
.panel-main {
  display: table;
  width: 100%;
  height: 100%;
}
.panel-cover--collapsed {
  width: 30%;
  max-width: 700px;
}
.panel-main__inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 800;
  padding: 0 60px;
}
.panel-inverted {
  font-weight: 400;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.panel-main__content {
  max-width: 620px;
  margin: 0 auto;
}
.panel-cover__logo {
  margin-bottom: .2em;
}
.panel-title {
  margin: 0 0 5px 0;
  font-size: 2.5em;
  color: #FFF;
}
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}
.panel-cover__divider {
  width: 50%;
  margin: 20px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
}
.cover-navigation {
  margin-top: 15px;
}
nav {
  display: inline-block;
  position: relative;
}
.navigation {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0;
  list-style-type: none;
  a {
    padding: 10px 20px;
    border: 1px solid #BF1827;
    border-radius: 20px;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: none;
    color: #BF1827;
    -webkit-font-smoothing: antialiased;
  }
}
.panel-cover--overlay {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.6);
  background-image: -webkit-linear-gradient(-410deg, rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
}
.cover-slate {
  background-color: rgba(61, 66, 96, 0.6);
  background-image: -webkit-linear-gradient(-410deg, rgba(61, 66, 96, 0.6) 20%, rgba(21, 23, 34, 0.8));
  background-image: linear-gradient(140deg,rgba(61, 66, 96, 0.6) 20%, rgba(21, 23, 34, 0.8));
}
.navigation--social a {
  border: 0;
  padding: 6px 8px 6px 9px;
  .label {
    display: none;
  }
}
.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  background: #BF1827;
  border-radius: 3px;
  text-align: center;
  color: #FFF;
}
.navigation {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__item {
  display: inline-block;
  margin: 5px 1px 0 0;
  line-height: 1em;
  a {
    display: block;
    position: relative;
    border-color: #FFF;
    color: #FFF;
    opacity: .8;
  }
  .social {
    font-size: 22px;
  }
}
.hidden {
  display: none !important;
}
.btn-mobile-menu__icon, .btn-mobile-close__icon {
  position: relative;
  font-size: 18px!important;
  top: 8px;
  color: #FFF;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: none;
    transform: none
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0)
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0)
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
  }
  to {
    -webkit-transform: none;
    transform: none
  }
}
.animated {
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-duration: 1s;
}
.bounceInDown {
  animation-name: bounceInDown;
}
